body {
    font-family: 'Inter';
}

.main-content {
    background: linear-gradient(358deg, #fefefe1a 75.87%, rgba(138, 79, 255, 0.10) 100.85%), #FFF;
    position: relative;
}

/* NAV BAR */
.nav {
    padding: 2px 16px;
    display: flex;
    align-items: center;
    height: 38px;
}

.nav div {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    width: 255px;
}

.nav img {
    height: 14px;
    width: 14px;
}
/* END OF NAVBAR */


/* NEW EXPENSE */
.new-expense {
    margin: 24px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.new-expense {
    background-color: #8a4fff;
    color: #fff;
    padding: 6px 0;
    font-family: 14px;
    font-weight: 700;
    border-radius: 10px;
    letter-spacing: 0.5px;
}
/* END OF NEW EXPENSE */


/* BASIC INFO CONTAINER */
.basic-info-container {
    display: flex;
    flex-direction: column;
}

.basic-info-title {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding-bottom: 14px;
}
/* END OF BASIC INFO CONTAINER */