body {
    font-family: 'Inter';
}

/* NAV BAR */
.nav {
    padding: 2px 16px;
    display: flex;
    align-items: center;
    height: 38px;
}

.nav div {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    width: 255px;
}

.nav img {
    height: 14px;
    width: 14px;
}
/* END OF NAVBAR */

/* CATEGORIES */
.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.categories div {
    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.42px;
    padding: 16px 10px;
}

.categories .category {
    font-weight: 600;
}

.categories a {
    text-decoration: none;
}

/* END OF CATEGORIES */

/* DATEPICKER */
input {
    border-radius: 12px;
    font-family: 'Inter';
    padding: 6px 48px;
    background-color: #8A4FFF;
    color: #FFF;
    font-size: 14px;
    border-style: none;
}

.datepicker-container {
    display: flex;
    justify-content: center;
    padding: 18px 0;
}
/* END OF DATEPICKER */