/* HIDING SCROLLBAR*/
/* Hide scrollbar for Chrome, Safari and Opera */
.main-content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main-content {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

p, h1, h4 {
    font-family: 'Inter';
}

.headline {
    font-weight: 600;
    font-size: 16px;
}

/* CONTAINERS*/
.nav-bar {
    padding: 2px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    height: 38.507px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: -1px -10.243px 27.07px 8px rgba(0, 0, 0, 0.25);
}

.main-content {
    background: linear-gradient(358deg, #fefefe1a 75.87%, rgba(138, 79, 255, 0.10) 100.85%), #FFF;
}

.container-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: 126px;
    padding: 16px 0;
}

.container-2 {
    height: 100px;
}

.container-3 {
    padding: 14px 0;
}

.subcontainer {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-radius: 8.779px;
    background: linear-gradient(128deg, rgba(138, 79, 255, 0.50) 49.92%, rgba(255, 165, 217, 0.50) 94.32%), linear-gradient(225deg, rgba(85, 255, 173, 0.00) -25.61%, #ECB1D3 36.74%);
    box-shadow: 0px 2.195px 36.581px 0px rgba(240, 220, 232, 0.25);
    width: 256px;
    height: 98px;
    flex-shrink: 0;
    overflow: hidden;
}

.subcontainer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subcontainer-right {
    position: relative;
    display: inline-block;
}

.category-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: inherit;
    gap: 28px;
}

.food-container,
.utility-container,
.debit-credit-container,
.transportation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.analytics-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 25px;
    fill: #FFF;
    box-shadow: 0px 2px 8px #00000040;    width: inherit;
    padding: 16px;
    height: 170px;
}

.bottom-nav {
    margin-top: 8px;
    background: #FFF;
    box-shadow: -2px 2px 27.07px 0px rgba(0, 0, 0, 0.25);    
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 14px 12px;
    height: auto;
    width: inherit;
}

/*END OF CONTAINERS*/


/* NAVBAR COMPONENTS */
.extract-logo {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.extract-logo img {
    width: 20.024px;
    height: 24.645px;
    flex-shrink: 0;
}

.extract-logo p {
    margin: 0;
    font-weight: 900;
}

.settings-icon img {
    width: 12.438px;
    height: 12.438px;
    flex-shrink: 0;
}
/*END OF NAVBAR COMPONENTS*/


/* SUBCONTAINER-LEFT COMPONENTS */
.dropdown select {
    background: none;
    border-radius: 9px;
    border: 2px solid white; /* Add white border */
    border-radius: 9px;
    color: white; /* Set text color to white */
    font-family: 'Inter';
    font-size: 9px;
    font-weight: 700;
    padding: 4px;
}

option {
    font-family: 'Inter';
    font-size: 12px;
    color: #6236aa;
}

.expense-display h4, .expense-display h1 {
    margin: 1px;
    color: #FFFFFF;
}

.expense-display h4 {
    font-size: 9px;
    font-weight: 500;
}

.expense-display h1 {
    font-size: 24px;
    font-weight: 700;
}
/* END OF SUBCONTAINER-LEFT COMPONENTS */


/* SUBCONTAINER-RIGHT COMPONENTS */
.subcontainer-right img {
    width: 72px;
    height: 86px;
    flex-shrink: 0;
}

.calendar-content {
    position: absolute;
    top: 50%; 
    left: 48%; 
    transform: translate(-50%, -50%); 
    color: #000000; 
    padding: 10px 20px; 
    font-size: 20px; 
    text-align: center;
}

.calendar-content div {
    font-family: 'Inter';
    color: #000000;
}

#month {
    padding-top: 6px;
    font-size: 11px;
    font-weight: 800;
}

#date {
    font-size: 18px;
    font-weight: 800;
}

#day {
    font-size: 8px;
    font-weight: 400;
}
/* END OF SUBCONTAINER-RIGHT COMPONENTS */


/* CONTAINER-2 COMPONENTS */
h4 {
    margin: 8px 0;
}
/* END OF CONTAINER-2 COMPONENTS */


/* CATEGORY-CONTAINER ELEMENTS */
.food-container div,
.utility-container div,
.debit-credit-container div,
.transportation-container div {
    font-family: 'Inter';
    font-size: 11px;
    font-weight: 500;
    white-space: no-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 42px;
}

.food-container span,
.utility-container span,
.debit-credit-container span,
.transportation-container span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 9px;
    background: #9663fd26;
}

.food-container img,
.utility-container img,
.debit-credit-container img,
.transportation-container img {
    height: 20px;
    width: 20px;
}
/* END OF CATEGORY-CONTAINER ELEMENTS */


/* ANALYTICS-CONTAINER ELEMENTS */
.list {
    font-size: 10px;
    font-family: 'Inter';
    color: #262626;
}

.list p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.bullet1, .bullet2, .bullet3, .bullet4 {
    display: inline-block;
    width: 8px; /* Adjust the size of the bullet */
    height: 8px;
    border-radius: 2px; /* Make it circular */
    margin-right: 5px; 
}

.bullet1 { 
    background-color: #B6E3E7;
}

.bullet2 {
    background-color: #F2CED7;
}

.bullet3 {
    background-color: #E1D6D6;
}

.bullet4 {
    background-color: #B6E3E7;
}

.analytics-graph {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.dropdown-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dropdown-analytics select {
    background: none;
    border-radius: 9px;
    border: 2px solid #a8a8a8; /* Add white border */
    border-radius: 9px;
    color: #9e9e9e; /* Set text color to white */
    font-family: 'Inter';
    font-size: 9px;
    font-weight: 700;
    padding: 4px;
}

#expense-period {
    color: #9e9e9e;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.45px;
}

.analytics-graph img {
    height: 120px;
    width: 120px;
}
/* END OF ANALYTICS-CONTAINER ELEMENTS */


/* BOTTOM-NAV COMPONENTS */ 
.bottom-nav img {
    height: 20px;
    width: 20px;
}

.home-container,
.calculator-container,
.expenses-container,
.profile-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    justify-content: center;
}

.bottom-nav div {
    color: #2b2b2b;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 10px;
}
/* END OF BOTTOM-NAV COMPONENTS */ 