@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Golos+Text:wght@400;800&family=Inter&family=Libre+Franklin&family=Monomaniac+One&family=Pacifico&family=Raleway&family=Russo+One&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d8d1f9;
}

.frame {
    background-color: #FFFFFF;
    width: 300.36px;
    height: 650px;
    border-radius: 40px;
    border: 10px black ridge;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.content {
    padding: 16px 20px;
}